img{
    width: 600px;
}

@media screen and (min-width:0px) and (max-width: 500px) {
    body{
        background-color: tomato;
    }

    img{
        width: 100%;
    }
}

@media screen and (min-width:501px) and (max-width:800px) {
    body{
        background-color: teal;
    }

    img{
        width: 100%;
    }
}

@media screen and (min-width:801px) and (max-width:1200px){
    body{
        background-color: antiquewhite;
    }

    img{
        width: 100%;
    }
}